* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  

  /* Header Styles */
.header-section{
    background-color: #fdecd3;
  }
  
  
  .home-page-container {
    margin-left: 10%;
    margin-right: 10%;
    padding: 1em;
  
  }
  
  .nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
  }
  
  .nav-items {
    display: flex;
    gap: 20px;
  }
  
  .nav-items a {
    text-decoration: none;
    color: #000;
  }
  
  
  
  
  
  
  
  
  /* Hero Styles */
.hero-container {
    width: 100%;
    padding: 2em;
  }
  
  .landing-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .hero-text {
    text-align: center;
  }
  
  .hero-image-container {
    margin: 0 auto;
    width: 80%;
    object-fit: cover;
  }
  
  .hero-img {
    max-width: 100%;
    height: auto;
  }
  
  
  
  
  
  
  
  
/* Feature List Styles */
.feature-section-container {
    padding: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    place-items: center;
  }
  
  .feature-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .feature-img {
    margin: 0.5em;
  }
  .feature-img img {
    width: 100%;
    border-radius: 0.3em;
  }
  
  .explore-btn {
    margin: 1em 0;
    border-radius: 0.5em;
    border: 1px solid orange;
    padding: 0.5em;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  